

  <div class="contetor">
      <h1>Seja bem-vindo</h1>
      <p>
        This is the home page for the
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      </p>
      <%= link_to "faça login", '#', class: "btn btn-leg btn-primary" %>
    <div>
