@import "bootstrap-sprockets";
@import "bootstrap";


body{

padding-top: 100px;


}

section {
  overflow:auto;
}

textarea{
  resize:vertical;
}

.center{
  text-align: center;
}

.center h1{
margin-bottom: 10px;
letter-spacing: 1px;
margin-bottom: 30px;
text-align: center;
}

p {
  font-size: 25px;
  line-height: 1.9 normal;
  align-content: center;
}

#logo{

float: left;
margin-right: 5wpx;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 10px;
font-weight: bold;
}
#logo:hover{

  text-decoration: none;
}

footer{

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}

footer a{
  color: #555;
}
footer a:hover{
  color: #222;
}
footer small{
  float: lef;
}

footer ul{
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
