
<footer class="fotter">

<small>
  O link para <a href="htt://www.railstutorial.org/"> ruby on rails tutorial</a>

</small>

  <nav>
    <ul>
      <li><%= link_to "about",  about_path %></li>
      <li><%= link_to "contact",  contact_path %></li>
    </ul>
  </nav>
</footer>
